# fly.toml app configuration file generated for tarot-tracker on 2025-12-24T16:05:33Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'tarot-tracker'
primary_region = 'iad'

[build]

[env]
  PORT = "8080"
  NODE_ENV = "production"
  DB_PATH = "/data"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']
  
  [[http_service.checks]]
    interval = "15s"
    timeout = "2s"
    grace_period = "5s"
    method = "GET"
    path = "/health"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024

[mounts]
  source = "data"
  destination = "/data"
